.vedio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 8%;
  background-color: #f6f8fb;
  padding: 3%;
}
.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.main-cont-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 40px;
}
.start {
  margin: 0px 10%;
  border-radius: 20px;
  width: 252px;
  height: 65px;
  background-color: #336cfb;
  border: none;
  color: white;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
}

.graph-div2 {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 70px;
  box-shadow: rgb(32 33 10 / 8%) 0px 1px 6px;
  padding: 30px 30px;
}
.start-button {
  width: 200px;
  height: 50px;
  margin-left: 8%;
  background-color: #336cfb;
  border-color: #336cfb;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}
.test-styel {
  margin: 5px 10%;

  color: black;
  align-self: center;
}
.span-data {
  display: flex;
  align-items: center;
}
.span-data span {
  margin-left: 40px;
  font-weight: bold;
  font-size: 15px;
}

.span-data img {
  margin-left: 30px;
}

.table-cont {
  display: flex;
  border-bottom-color: #cacccf;
  border-bottom-width: 0.1px;
  border-bottom-style: double;
  padding: 15px 15px;
}
.table-cont div {
  width: 23.33%;
  color: #52575c;
}
.table-cont8 {
  display: flex;
  margin-bottom: 50px !important;
  margin: 0px 8%;
  /* border: 1px solid red; */
  display: flex;
  border-bottom-color: #cacccf;
  border-bottom-width: 0.1px;
  border-bottom-style: double;
  border-top-color: #cacccf;
  border-top-width: 0.1px;
  border-top-style: double;
  margin-top: 50px;
  padding: 15px 0;
}
.table-cont8 div {
  width: 23.33%;
  color: #52575c;
}
.tableData {
  margin-top: 50px;
  box-shadow: rgb(32 33 10 / 8%) 0px 1px 6px;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.logboook {
  font-weight: bold;
  margin-left: 20px;
  font-size: 19px;
}

.image-container {
  margin: 20px 8%;
}

.image-div {
  border: 1px solid gray;
  padding: 0 !important;
}

.image-div > img {
  max-width: -webkit-fill-available;
  width: 100%;
}

.parts {
  color: green;
  font-size: 25px;
  font-weight: 900;
}

.test-result {
  font-size: 20px;
  color: red;
  font-weight: 900;
}

.result {
  text-align: center;
}
